:root {
  font-family: 'Montserrat', sans-serif;
  left: 0;
  top: 0;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  margin: 0;
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
#app{
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
